.email-login-form {
  margin-top: 30vh;

  input {
    display: block;
    margin: 10px auto;
    height: 30px;
    width: 400px;
    text-align: left;
    padding-left: 5px;
  }

  button {
    display: block;
    margin: 10px auto;
  }

  .email-submit {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: $grey-background-color;
    color: white;
    font-size: 16px;
    margin-top: 10px;
  }

  p {
    margin-top: 15px;
    font-style: italic;
  }
}
