.logo-container {
  position: relative;
  height: 25%;
  width: 100vw;
  padding: 20%;
  text-align: center;

  img {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .logo-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2vw;

    .logo-title {
      font-family: 'Black Ops One', cursive;
    }

    .logo-subtitle {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
