* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

//Font-sizes
$title-font-size: 90px;

//Colors
$grey-background-color: rgb(78, 74, 74);
$box-shadow-color: rgb(173, 171, 171);
